language: php
php:
  - 5.3
  - 5.4
  - 5.5

env:
  - SYMFONY_VERSION=origin/master

before_script:
  - export COMPOSER_ROOT_VERSION=dev-master
  - composer install --dev

script: phpunit

notifications:
    webhooks: http://sonata-project.org/bundles/admin/master/travis
