<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Welcome!</title>
</head>
<body>
{{ sonata_block_render({ 'type': 'Sonata\\BlockBundle\\Tests\\App\\Block\\DemoBlockService' }, {
}) }}

{{ sonata_block_render({ 'type': 'sonata.block.service.text' }, {
}) }}
</body>
</html>
